[buildout]
extends =
    https://raw.github.com/4teamwork/ftw-buildouts/master/test-plone-4.3.x.cfg
    sources.cfg

package-name = ftw.mail

[versions]
# Pin down ftw.calendar to fix test buildout
# (version constraint in ftw.meeting via ftw.workspace)
ftw.calendar = <3
# soupsieve 2.0 has dropped support for Python 2.
soupsieve = <2
# cachetools 4.0 has dropped support for Python 2.
cachetools = <4
# inflection 0.5 has dropped support for Python 2.
inflection = <0.5
